In [ ]:
!pip install

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

df_train = pd.read_csv("twitter_training.csv")
df_valid = pd.read_csv("twitter_validation.csv")

df_train

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [2]:
df_valid

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom‚Äôs great auntie as ‚ÄòHayley can‚Äôt get out of bed‚Äô and told to his grandma, who now thinks I‚Äôm a lazy, terrible person ü§£"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...
...,...,...,...,...
994,4891,GrandTheftAuto(GTA),Irrelevant,‚≠êÔ∏è Toronto is the arts and culture capital of ...
995,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996,2652,Borderlands,Positive,Today sucked so it‚Äôs time to drink wine n play...
997,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
998,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [3]:
print(df_train.columns)
print(df_valid.columns)

df_train["id"] = df_train["2401"]
df_train["topic"] = df_train["Borderlands"]
df_train["sentiment"] = df_train["Positive"]
df_train["tweet"] = df_train["im getting on borderlands and i will murder you all ,"]
df_valid["id"] = df_valid["3364"]
df_valid["topic"] = df_valid["Facebook"]
df_valid["sentiment"] = df_valid["Irrelevant"]
df_valid["tweet"] = df_valid["I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom‚Äôs great auntie as ‚ÄòHayley can‚Äôt get out of bed‚Äô and told to his grandma, who now thinks I‚Äôm a lazy, terrible person ü§£"]

df_valid = df_valid.drop(columns = ["3364", "Facebook", "Irrelevant", "I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom‚Äôs great auntie as ‚ÄòHayley can‚Äôt get out of bed‚Äô and told to his grandma, who now thinks I‚Äôm a lazy, terrible person ü§£"])
df_train = df_train.drop(columns = ["2401", "Borderlands", "Positive", "im getting on borderlands and i will murder you all ,"])

Index(['2401', 'Borderlands', 'Positive',
       'im getting on borderlands and i will murder you all ,'],
      dtype='object')
Index(['3364', 'Facebook', 'Irrelevant',
       'I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom‚Äôs great auntie as ‚ÄòHayley can‚Äôt get out of bed‚Äô and told to his grandma, who now thinks I‚Äôm a lazy, terrible person ü§£'],
      dtype='object')

In [4]:
df_train

,id,topic,sentiment,tweet
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [5]:
df_valid

,id,topic,sentiment,tweet
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...
...,...,...,...,...
994,4891,GrandTheftAuto(GTA),Irrelevant,‚≠êÔ∏è Toronto is the arts and culture capital of ...
995,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996,2652,Borderlands,Positive,Today sucked so it‚Äôs time to drink wine n play...
997,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
998,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [6]:
for i in df_train.columns:
    print(df_train[i].value_counts())

id
9200    6
9199    6
2402    6
2403    6
2404    6
       ..
2435    6
2436    6
2437    6
2438    6
2401    5
Name: count, Length: 12447, dtype: int64
topic
Microsoft                            2400
MaddenNFL                            2400
TomClancysRainbowSix                 2400
LeagueOfLegends                      2394
CallOfDuty                           2394
Verizon                              2382
CallOfDutyBlackopsColdWar            2376
ApexLegends                          2376
Facebook                             2370
WorldOfCraft                         2364
Dota2                                2364
NBA2K                                2352
TomClancysGhostRecon                 2346
Battlefield                          2346
FIFA                                 2340
Overwatch                            2334
Xbox(Xseries)                        2334
johnson&johnson                      2328
Amazon                               2316
HomeDepot                            2310
PlayStation5(PS5)                    2310
CS-GO                                2304
Cyberpunk2077                        2304
GrandTheftAuto(GTA)                  2304
Hearthstone                          2298
Nvidia                               2298
Google                               2298
Borderlands                          2285
PlayerUnknownsBattlegrounds(PUBG)    2274
Fortnite                             2274
RedDeadRedemption(RDR)               2262
AssassinsCreed                       2244
Name: count, dtype: int64
sentiment
Negative      22542
Positive      20831
Neutral       18318
Irrelevant    12990
Name: count, dtype: int64
tweet
                                                                                                                                                                                                                                                                                     172
At the same time, despite the fact that there are currently some 100 million people living below the poverty line, most of them do not have access to health services and do not have access to health care, while most of them do not have access to health care.                   172
It is not the first time that the EU Commission has taken such a step.                                                                                                                                                                                                               172
<unk>                                                                                                                                                                                                                                                                                133
to                                                                                                                                                                                                                                                                                    74
                                                                                                                                                                                                                                                                                    ...
The most exhausting thing about being blind on social media is people constantly asking "if you're blind, how do you tweet?." I'm so tired of answering these questions.. There's a whole pile full of answers, including what I wrote... Here they are. RT                            1
The hardest thing about being blind on social media is people constantly asking, "If you're blind, how do you tweet?" I'm so bored of answering those questions... There's a whole Google full of answers, including everything I've written... Here they are. RT                      1
The most exhausting thing about being blind on social media are the people who constantly ask ‚Äúif you‚Äôre blind how do you tweet?‚Äù. . I‚Äôm so bored of answering these questions.. . There is a whole google full of answers,  including stuff I‚Äôve written.. . Here they are .  RT      1
Google Messages will get Android 11 available "over the next year", for full story check our website                                                                                                                                                                                   1
Please do not try to make black people your personal educators. I experience this all too often where people will demand to be educated after being called out for ignorance by someone who is black, such as... please because the love of God exists google...                       1
Name: count, Length: 69490, dtype: int64

In [7]:
le = LabelEncoder()

df_train["topic"] = le.fit_transform(df_train["topic"])
df_valid["topic"] = le.fit_transform(df_valid["topic"])
df_train["sentiment"] = le.fit_transform(df_train["sentiment"])
df_valid["sentiment"] = le.fit_transform(df_valid["sentiment"])

df_train

,id,topic,sentiment,tweet
0,2401,4,3,I am coming to the borders and I will kill you...
1,2401,4,3,im getting on borderlands and i will kill you ...
2,2401,4,3,im coming on borderlands and i will murder you...
3,2401,4,3,im getting on borderlands 2 and i will murder ...
4,2401,4,3,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,21,3,Just realized that the Windows partition of my...
74677,9200,21,3,Just realized that my Mac window partition is ...
74678,9200,21,3,Just realized the windows partition of my Mac ...
74679,9200,21,3,Just realized between the windows partition of...
74680,9200,21,3,Just like the windows partition of my Mac is l...

In [8]:
df_valid

       id  topic  sentiment                                              tweet
0     352      0          2  BBC News - Amazon boss Jeff Bezos rejects clai...
1    8312     19          1  @Microsoft Why do I pay for WORD when it funct...
2    4371      5          1  CSGO matchmaking is so full of closet hacking,...
3    4433     13          2  Now the President is slapping Americans in the...
4    6273     10          1  Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...
..    ...    ...        ...                                                ...
994  4891     14          0  ‚≠êÔ∏è Toronto is the arts and culture capital of ...
995  4359      5          0  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996  2652      4          3  Today sucked so it‚Äôs time to drink wine n play...
997  8069     19          3  Bought a fraction of Microsoft today. Small wins.
998  6960     31          2  Johnson & Johnson to stop selling talc baby po...

[999 rows x 4 columns]

In [9]:
df_train = df_train[df_train['tweet'].str.len()!=0]
df_valid = df_valid[df_valid['tweet'].str.len()!=0]
df_train

,id,topic,sentiment,tweet
0,2401,4,3,I am coming to the borders and I will kill you...
1,2401,4,3,im getting on borderlands and i will kill you ...
2,2401,4,3,im coming on borderlands and i will murder you...
3,2401,4,3,im getting on borderlands 2 and i will murder ...
4,2401,4,3,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,21,3,Just realized that the Windows partition of my...
74677,9200,21,3,Just realized that my Mac window partition is ...
74678,9200,21,3,Just realized the windows partition of my Mac ...
74679,9200,21,3,Just realized between the windows partition of...
74680,9200,21,3,Just like the windows partition of my Mac is l...

In [10]:
df_valid

       id  topic  sentiment                                              tweet
0     352      0          2  BBC News - Amazon boss Jeff Bezos rejects clai...
1    8312     19          1  @Microsoft Why do I pay for WORD when it funct...
2    4371      5          1  CSGO matchmaking is so full of closet hacking,...
3    4433     13          2  Now the President is slapping Americans in the...
4    6273     10          1  Hi @EAHelp I‚Äôve had Madeleine McCann in my cel...
..    ...    ...        ...                                                ...
994  4891     14          0  ‚≠êÔ∏è Toronto is the arts and culture capital of ...
995  4359      5          0  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996  2652      4          3  Today sucked so it‚Äôs time to drink wine n play...
997  8069     19          3  Bought a fraction of Microsoft today. Small wins.
998  6960     31          2  Johnson & Johnson to stop selling talc baby po...

[999 rows x 4 columns]

In [11]:
print(df_train.isnull().sum())
print(df_valid.isnull().sum())

id             0
topic          0
sentiment      0
tweet        686
dtype: int64
id           0
topic        0
sentiment    0
tweet        0
dtype: int64

In [12]:
df_train = df_train.dropna()

df_train

,id,topic,sentiment,tweet
0,2401,4,3,I am coming to the borders and I will kill you...
1,2401,4,3,im getting on borderlands and i will kill you ...
2,2401,4,3,im coming on borderlands and i will murder you...
3,2401,4,3,im getting on borderlands 2 and i will murder ...
4,2401,4,3,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,21,3,Just realized that the Windows partition of my...
74677,9200,21,3,Just realized that my Mac window partition is ...
74678,9200,21,3,Just realized the windows partition of my Mac ...
74679,9200,21,3,Just realized between the windows partition of...
74680,9200,21,3,Just like the windows partition of my Mac is l...

In [13]:
df_train['tweet'] = df_train['tweet'].astype(str)
df_train['tweet'] = df_train['tweet'].str.lower()
df_valid['tweet'] = df_valid['tweet'].astype(str)
df_valid['tweet'] = df_valid['tweet'].str.lower()

print(df_train['tweet'])
df_train.head()

0        i am coming to the borders and i will kill you...
1        im getting on borderlands and i will kill you ...
2        im coming on borderlands and i will murder you...
3        im getting on borderlands 2 and i will murder ...
4        im getting into borderlands and i can murder y...
                               ...
74676    just realized that the windows partition of my...
74677    just realized that my mac window partition is ...
74678    just realized the windows partition of my mac ...
74679    just realized between the windows partition of...
74680    just like the windows partition of my mac is l...
Name: tweet, Length: 73995, dtype: object

/tmp/ipykernel_75809/3994482541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['tweet'] = df_train['tweet'].astype(str)
/tmp/ipykernel_75809/3994482541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['tweet'] = df_train['tweet'].str.lower()

     id  topic  sentiment                                              tweet
0  2401      4          3  i am coming to the borders and i will kill you...
1  2401      4          3  im getting on borderlands and i will kill you ...
2  2401      4          3  im coming on borderlands and i will murder you...
3  2401      4          3  im getting on borderlands 2 and i will murder ...
4  2401      4          3  im getting into borderlands and i can murder y...

In [16]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer

nltk.download('punkt')
nltk.download('wordnet')

stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

stemmed_text_train = [' '.join([stemmer.stem(word) for word in nltk.word_tokenize(sentence)]) for sentence in df_train["tweet"]]
stemmed_text_valid = [' '.join([stemmer.stem(word) for word in nltk.word_tokenize(sentence)]) for sentence in df_valid["tweet"]]

# Tokenization and lemmatization
lemmatized_text_train = [' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(sentence)]) for sentence in stemmed_text_train]
lemmatized_text_valid = [' '.join([lemmatizer.lemmatize(word) for word in nltk.word_tokenize(sentence)]) for sentence in stemmed_text_valid]


stop_words = set(stopwords.words('english'))

filtered_sentences_train = []
for sentence in lemmatized_text_train:
    # Tokenize the sentence into words
    words = word_tokenize(sentence)
    # Filter out stopwords
    filtered_words = [word for word in words if word.lower() not in stop_words]
    # Join the filtered words back into a sentence
    filtered_sentence = ' '.join(filtered_words)
    # Add filtered sentence to the list
    filtered_sentences_train.append(filtered_sentence)

filtered_sentences_valid = []
for sentence in lemmatized_text_valid:
    # Tokenize the sentence into words
    words = word_tokenize(sentence)
    # Filter out stopwords
    filtered_words = [word for word in words if word.lower() not in stop_words]
    # Join the filtered words back into a sentence
    filtered_sentence = ' '.join(filtered_words)
    # Add filtered sentence to the list
    filtered_sentences_valid.append(filtered_sentence)
    
df_train["tweet"] = filtered_sentences_train
df_valid["tweet"] = filtered_sentences_valid

[nltk_data] Downloading package punkt to /home/afraz/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/afraz/nltk_data...
/tmp/ipykernel_75809/2917469744.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train["tweet"] = lemmatized_text_train

In [17]:
df_train

,id,topic,sentiment,tweet
0,2401,4,3,"i am come to the border and i will kill you all ,"
1,2401,4,3,"im get on borderland and i will kill you all ,"
2,2401,4,3,"im come on borderland and i will murder you all ,"
3,2401,4,3,im get on borderland 2 and i will murder you m...
4,2401,4,3,"im get into borderland and i can murder you all ,"
...,...,...,...,...
74676,9200,21,3,just realiz that the window partit of my mac i...
74677,9200,21,3,just realiz that my mac window partit is 6 yea...
74678,9200,21,3,just realiz the window partit of my mac is now...
74679,9200,21,3,just realiz between the window partit of my ma...
74680,9200,21,3,just like the window partit of my mac is like ...

In [18]:
df_valid

       id  topic  sentiment                                              tweet
0     352      0          2  bbc news - amazon bos jeff bezo reject claim c...
1    8312     19          1  @ microsoft whi do i pay for word when it func...
2    4371      5          1  csgo matchmak is so full of closet hack , it '...
3    4433     13          2  now the presid is slap american in the face th...
4    6273     10          1  hi @ eahelp i ‚Äô ve had madelein mccann in my c...
..    ...    ...        ...                                                ...
994  4891     14          0  ‚≠êÔ∏è toronto is the art and cultur capit of cana...
995  4359      5          0  thi is actual a good move tot bring more viewe...
996  2652      4          3  today suck so it ‚Äô s time to drink wine n play...
997  8069     19          3  bought a fraction of microsoft today . small w...
998  6960     31          2  johnson & johnson to stop sell talc babi powde...

[999 rows x 4 columns]